.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(90, 90, 90, 0.61);
  margin: 100px 50px;
  position: relative;
  z-index: 0;
}

.info-container {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.imgDiv {
  margin: 20px;
  border: 1px solid rgba(128, 128, 128, 0.377);
  padding: 5px;
  border-radius: 5px;
}

.imgSize {
  height: 50vh;
  /* width: 350px; */
}

.description {
  max-width: 500px;
}
.b {
  position: relative;
  left: 1%;
}
.textDiv {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
}

@media (max-width: 450px) {
  .imgSize {
    /* width: 200px; */
    height: 40vh;
    max-width: 200px;
  }
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  .info-container {
    margin: 30px auto;
  }
  .textDiv {
    margin: auto 5%;
    /* align-items: center; */
  }
}
