.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(90, 90, 90, 0.61);
  margin: 50px;
}

.info-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.imgDiv {
  margin: 20px;
  border: 1px solid rgba(128, 128, 128, 0.377);
  padding: 5px;
  border-radius: 5px;
}

.imgSize {
  height: 600px;
  width: 350px;
}
